* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 18px;
    flex: none;
}

.header, .first {
    background-color: #1F2937;
}

.first {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    gap:35px;
    align-items: center;
}

.sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0;
    padding: 5px;
    padding-inline: 28px;
    border-radius: 4px;
    margin-top: 8px;
    font-weight: bold;
}

.sign-text {
    margin-left: 20px;
    width: 560px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    
}

img {
    margin-right: 20px;
    flex-grow: 0;
    flex-shrink: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.boxes{
    display: flex;
    height: 156px;
    justify-content: center;
    gap: 160px;
}

#b1, #b2, #b3, #b4 {
    border: #3882F6 solid;
    width: 149.33px;
    border-radius: 15px;
    flex: none;
}

h2, .t2header {
    display: flex;
    justify-content: center;
    font-size: 39px;
    color: #1F2937;
    font-weight: 900;
    padding: 20px;
}

.subtext {
    display: flex;
    justify-content: center;
    gap: 160px;
    padding-bottom: 20px;
    padding-top: 8px;
}

.txtsub {
    width: 156px;
    text-align: center;
    color: #1F2937;
    font-size: 18px;
}

.first, .second, .third, .fourth {
    height: 400px;
}

.second {
    display: flex;
    flex-direction: column;
}

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: center;
}

.quotecont {
    display: flex;
    flex-direction: column;
    width: 780px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    width: 790px;
}

.qtauthor {
    align-self: flex-end;   
    font-weight: bold;
    width: width 790px;
    height: 30px;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltoaction {
    display: flex;
    background-color: #3882F6;
    width: 1100px;
    justify-content: space-evenly;
    border-radius: 10px;
    height: 133px;

}

.boxtxt1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-self: center;
}

.calltext{
    font-size: 24px;
    color: #F9FAF8;
}

.callpara {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up2 {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0;
    padding: 7px;
    padding-inline: 28px;
    border-radius: 4px;
    border: #F9FAF8 solid 2px;
    height: 33px;
    align-self: center;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
